<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssu.takecare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakeCare"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".UI.ShareInfoImageActivity"/>
        <activity android:name=".UI.MatchActivity" />
        <activity android:name=".UI.CalendarActivity" />
        <activity android:name=".UI.ReportActivity" />
        <activity android:name=".UI.PrescriptionActivity" />
        <activity android:name=".UI.ProfileActivity" />
        <activity android:name=".UI.ShareGraph" />
        <activity android:name=".UI.InfoActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".UI.FindActivity" />
        <activity android:name=".UI.SignupActivity" />
        <activity android:name=".UI.MainActivity" />
        <activity
            android:name=".UI.FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>